
<div class="grid grid-pad products">
    
    <div class="col-1-3">
        <div class="product">
            <img alt="tênis prada" class="image" itemprop="image" 
                 src="https://res.cloudinary.com/enjoei/image/upload/c_thumb,f_auto,g_center,h_294,q_80,w_276/jvc77a8akrc0xynofimi.jpg">
            
            <div class="name"><a href="#">Notebook Acer Aspiron</a></div>
            <div class="price">R$ 250,00</div>
        </div>
    </div>
    <div class="col-1-3">
        <div class="product">
            <img alt="abercrombie &amp;fitch" 
                 itemprop="image" src="https://res.cloudinary.com/enjoei/image/upload/a_270,c_thumb,f_auto,g_center,h_294,q_80,w_276/emjnxinmae6hq1g2gtyn.jpg">

            <div class="name"><a href="#">Notebook Acer Aspiron</a></div>
            <div class="price">R$ 250,00</div>
        </div>
    </div>
    <div class="col-1-3">
        <div class="product">
            <img alt="camisa calvin klein" itemprop="image" 
                 src="https://res.cloudinary.com/enjoei/image/upload/c_thumb,f_auto,g_center,h_294,q_80,w_276/fmi5feex8yylxst0i5yq.jpg">

            <div class="name"><a href="#">Notebook Acer Aspiron</a></div>
            <div class="price">R$ 250,00</div>
        </div>
    </div>

</div>


<div class="grid grid-pad products">

    <div class="col-1-3">
        <div class="product">
            <img alt="tênis prada" class="image" itemprop="image"
                 src="https://res.cloudinary.com/enjoei/image/upload/c_thumb,f_auto,g_center,h_294,q_80,w_276/jvc77a8akrc0xynofimi.jpg">

            <div class="name"><a href="#">Notebook Acer Aspiron</a></div>
            <div class="price">R$ 250,00</div>
        </div>
    </div>
    <div class="col-1-3">
        <div class="product">
            <img alt="abercrombie &amp;fitch"
                 itemprop="image" src="https://res.cloudinary.com/enjoei/image/upload/a_270,c_thumb,f_auto,g_center,h_294,q_80,w_276/emjnxinmae6hq1g2gtyn.jpg">

            <div class="name"><a href="#">Notebook Acer Aspiron</a></div>
            <div class="price">R$ 250,00</div>
        </div>
    </div>
    <div class="col-1-3">
        <div class="product">
            <img alt="camisa calvin klein" itemprop="image"
                 src="https://res.cloudinary.com/enjoei/image/upload/c_thumb,f_auto,g_center,h_294,q_80,w_276/fmi5feex8yylxst0i5yq.jpg">

            <div class="name"><a href="#">Notebook Acer Aspiron</a></div>
            <div class="price">R$ 250,00</div>
        </div>
    </div>

</div>

