a {
    color: #00a1de;
}

a:hover {
    color: #d5740f; 
}

.container * {
    font-family: "Lucida Sans Unicode","Lucida Grande","Helvetica Neue","Helvetica",verdana,arial,sans-serif;
}

.product .name {
    font-size: 1.17em;
}

.product .price {
    color: #d5740f; 
}

.footer {
    min-height: 200px;
}

.action {
    color: #3cb371;
}

.content {
    margin: 20px 50px 20px 50px;
}