@model IEnumerable<Web.Models.Product>

@foreach (var slices in Model.EachSlice(3))
{
    <div class="row">
        
        @foreach (var product in slices)
        {
            <div class="col-lg-4">
                <div class="product">
                    <a href="@Url.Action("Show", "Product", new { Id = product.Id })">
                        <img alt="tênis prada" itemprop="image" src="@product.Image">
                    </a>


                    <div class="name"><a href="#">@product.Name</a></div>
                    <div class="price">R$ @product.Price</div>
                </div>
            </div>
        }

    </div>
}   