@model EditProjectForm

<h2>Projects</h2>

@using (Html.BeginForm("Save", "Project"))
{
    @Html.LabelFor(x => x.Name)<br/>
    @Html.TextBoxFor(x => x.Name)
    
    <p>
        @Html.Submit("Save")
    </p>
}
